@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.recommendedMovies {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
}
