@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.recommendedMovies {
  display: flex;
  flex-direction: column;
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  background-color: $background;
  color: $fontColor;

  &__container {
    margin: 1rem;
  }
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  min-height: 350px;
  height: auto;
  width: 350;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
