@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap");
@import "./Style/variables";

#root {
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
}

// Stora bokstäver font Titel
//font-family: 'Bebas Neue', sans-serif;

// Brödtext
//font-family: 'Hind Vadodara', sans-serif;
